In [17]:
import numpy as np
import pandas as pd
from tqdm import tqdm

In [2]:
columns = ["node_id"]

for i in range(128):
    columns.append("dim"+str(i+1))

cora_emb = pd.read_csv('embeddings/node2vec/cora.emb', delim_whitespace=True, names=columns).sort_values(by=['node_id'], ascending=True)

In [3]:
dimensions = []
for i in range(128):
    dimensions.append("dim"+str(i+1))

In [4]:
nodes = []
for index, row in cora_emb.iterrows():
    nodes.append(row["node_id"])

In [5]:
pairs = []
for node1 in nodes:
    for node2 in nodes:
        pairs.append([node1, node2, 0])

In [6]:
pairs = pd.DataFrame.from_records(pairs)

In [7]:
pairs.columns=["node1", "node2", "edge"]
pairs

             node1      node2  edge
0             35.0       35.0     0
1             35.0       40.0     0
2             35.0      114.0     0
3             35.0      117.0     0
4             35.0      128.0     0
...            ...        ...   ...
7333259  1155073.0  1154500.0     0
7333260  1155073.0  1154520.0     0
7333261  1155073.0  1154524.0     0
7333262  1155073.0  1154525.0     0
7333263  1155073.0  1155073.0     0

[7333264 rows x 3 columns]

In [9]:
node_embeddings = {}
for index, row in cora_emb.iterrows():
    node_embeddings[row["node_id"]] = [row[dim] for dim in dimensions]

In [10]:
cora_edges = pd.read_csv('edgelists/cora.edgelist', delim_whitespace=True, names=["node1", "node2"])

In [11]:
cora_edges

       node1    node2
0         35     1033
1         35   103482
2         35   103515
3         35  1050679
4         35  1103960
...      ...      ...
5424  853116    19621
5425  853116   853155
5426  853118  1140289
5427  853155   853118
5428  954315  1155073

[5429 rows x 2 columns]

In [45]:
for index_pair, row_pair in pairs.iterrows():
    for index_edge, row_edge in cora_edges.iterrows():
        if (((row_pair['node1'] == row_edge['node1']) & (row_pair['node2'] == row_edge['node2'])).any()):
            row_pair["edge"] = 1

In [18]:
for index_edge, row_edge in tqdm(cora_edges.iterrows(), total=cora_edges.shape[0]):
    pair_row = pairs.loc[(pairs['node1'] == row_edge['node1']) & (pairs['node2'] == row_edge['node2'])]
    pairs.loc[pair_row.index, "edge"] = 1

100%|██████████| 5429/5429 [06:25<00:00, 14.08it/s]

In [13]:
pair_row = pairs.loc[(pairs['node1'] == 35) & (pairs['node2'] ==1033)]
# pair_row.edge = 1
# pair_row
pairs.loc[pair_row.index, "edge"] = 1

In [14]:
pairs.loc[(pairs['node1'] == 35) & (pairs['node2'] ==1033)]

    node1   node2  edge
21   35.0  1033.0     1

In [22]:
labeled_dataset = pairs

In [23]:
labeled_dataset

             node1      node2  edge
0             35.0       35.0     0
1             35.0       40.0     0
2             35.0      114.0     0
3             35.0      117.0     0
4             35.0      128.0     0
...            ...        ...   ...
7333259  1155073.0  1154500.0     0
7333260  1155073.0  1154520.0     0
7333261  1155073.0  1154524.0     0
7333262  1155073.0  1154525.0     0
7333263  1155073.0  1155073.0     0

[7333264 rows x 3 columns]